* {
  font-family: 'Oswald', sans-serif;
  color: #009682;
}

a {
  text-decoration: none;
  color: #009682;
}

a:hover {
  text-decoration: none;
  color: #026857;
}

.navbar_one {
  top: 0;
  position: absolute;
  width: 100%;
  height: 175px;
  background-color: white;
  box-shadow: 0 7px 2px -2px #007F6E;
}

.navbar_two {
  top: 0;
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0 7px 2px -2px #007F6E;
}

.navlinks_left li {
  float: left;
  display: inline;
  margin-top: 100px;
  margin-left: 125px;
  font-size: 30px;
}

.navlinks_right li {
  float: right;
  display: inline;
  margin-top: 100px;
  margin-right: 125px;
  font-size: 30px;
}

.navlinks_two li {
  width: 75%;
  align-content: center;
  display: inline;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 30px;
}

.logo {
  background-image: url('tgk-logo.gif');
  height: 150px;
  width: 150px;
  display: block;
  width: 10%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.logo:hover {
  background-image: url('tgk-logo-hover.gif');

}

.headshot {
  width: 10%;
  margin-right: 340px;
  margin-top: 200px;
  float: right;
}

.bio {
  background-color: white;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 15px;
  font-size: 1.5em;
  color: #009682;
  height: 70%;
  width: 40%;
  border-radius: 5px;
}

.skills {
  background-color: white;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1.7em;
  color: #009682;
  height: 80%;
  width: 75%;
  border-radius: 5px;
}

.work {
  background-color: white;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1.7em;
  color: #009682;
  height: 100%;
  width: 40%;
  border-radius: 5px;
}

.contact {
  background-color: white;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1.7em;
  color: #009682;
  height: 100%;
  width: 40%;
  border-radius: 5px;
}
