* {
  font-family: 'Oswald', sans-serif;
  color: #009682;
}

a {
  text-decoration: none;
  color: #009682;
}

a:hover {
  text-decoration: none;
  color: rgb(244, 226, 174);
}

ol {
  list-style: circle;
}

.navbar_one {
  top: 0;
  position: absolute;
  width: 100%;
  height: 175px;
  background-color: white;
  box-shadow: 0 7px 2px -2px #007F6E;
}

.navbar_two {
  top: 0;
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0 7px 2px -2px #0a322c;
}

.navlinks_left li {
  float: left;
  display: inline;
  margin-top: 100px;
  margin-left: 125px;
  font-size: 30px;
}

.navlinks_right li {
  float: right;
  display: inline;
  margin-top: 100px;
  margin-right: 125px;
  font-size: 30px;
}

.navlinks_two li {
  width: 75%;
  align-content: center;
  display: inline;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 30px;
}

.logo {
  margin-left: 10px;
  float: left;
  color: white;
}

.logo:hover {
  background-image: url('tgk-logo-hover.gif');

}

.headshot {
  width: 10%;
  margin-right: 340px;
  margin-top: 100px;
  float: right;
}

.bio {
  background-color: white;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 30px;
  font-size: 1.8em;
  color: #009682;
  height: 70%;
  width: 60%;
  border-radius: 5px;
}

.skills {
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1.7em;
  color: #009682;
  height: 80%;
  width: 75%;
  border-radius: 5px;
}

.web_skills {
  background-color: #006064;
  width: 40%;
  height: 80%;
  margin-left: 80px;;
  margin-right: auto;
  padding: 15px;
  float: left;
  border-radius: 5px;
}

.web_skills h4 {
  color: white;
}

.web_skills li {
  color: white;
}

.design_skills {
  background-color: #006064;
  width: 40%;
  height: 80%;
  margin-left: auto;
  margin-right: 80px;
  padding: 15px;
  float: right;
  border-radius: 5px;
}

.design_skills h4 {
  color: white;
}

.design_skills li {
  color: white;
}

.work {
  background-color: white;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1.7em;
  color: #009682;
  height: 100%;
  width: 40%;
  border-radius: 5px;
}

.contact {
  background-color: white;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1.7em;
  color: #009682;
  height: 100%;
  width: 40%;
  border-radius: 5px;
}

#section_one {
  background: -webkit-gradient(linear, top left, bottom left, from(#0c675a), to(#007F6E));
	background: -webkit-linear-gradient(#0c675a, #007F6E);
	background: linear-gradient(#0c675a,#007F6E);
}
#section_two {
  background: -webkit-gradient(linear, top left, bottom left, from(#007F6E), to(#00BFA6));
	background: -webkit-linear-gradient(#007F6E, #00BFA6);
	background: linear-gradient(#007F6E,#00BFA6);
}
#section_three {
  background: -webkit-gradient(linear, top left, bottom left, from(#00BFA6), to(#00E5C7));
	background: -webkit-linear-gradient(#00BFA6, #00E5C7);
	background: linear-gradient(#00BFA6,#00E5C7);
}
#section_four {
  background: -webkit-gradient(linear, top left, bottom left, from(#00E5C7), to(#00FFDD));
  background: -webkit-linear-gradient(#00E5C7, #00FFDD);
  background: linear-gradient(#00E5C7,#00FFDD);
}
